.content-container{
    margin: 0 300px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 3fr 2fr;
}
.secondary-grid{
    display: grid;
    grid-gap: 24px;
    grid-template-rows: 1fr 3fr;
    /* border-radius: 8px; */
}
.blog-container{
    padding: 10px;
    border: 1px solid salmon;
    border-radius: 8px;
}
.read{
    padding: 10px;
    border: 1px solid salmon;
    border-radius: 8px;
    background-color: rgba(96, 71, 236, 0.1);
    color: #6047EC;
    font-weight: 700;
}
.bookmarked{
    padding: 10px;
    border: 1px solid salmon;
    border-radius: 8px;
    font-weight: 700;
}