.header{
    display: flex;
    justify-content: space-between;
    margin: 50px 300px;
    align-items: center;
}
h4{
    margin: 0;
    font-size: 30px;
}
.dp{
   width: 60px;
   height: 60px; 
   border-radius: 50%;
}
hr{
    border: 1px solid rgba(17, 17, 17, 0.15);
    margin: 0 300px;
}